# Large data files
*.tif
*.tiff
*.gpkg
data/raw/*.tif
data/raw/*.gpkg
data/raw/*.gdb/
*.gdb/

# Jupyter checkpoints
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# GEE credentials (por si acaso)
*.json
!README.md